@import 'reset.css';

.form {
  max-width: 300px;
}

.form ::placeholder {
  color: #bdbdd3;
}

.textInput {
  width: 100%;
  display: block;
  border: none;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
}

textarea.textInput {
  min-height: 100px;
  resize: vertical;
}
